
<p-panel header="Create Question" styleClass="m-4">

  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)" class="p-fluid p-grid">

          <div class="field col-12 grid">
            <div class="field col-6">
            <span class="p-float-label">
              <input id="number" type="text" formControlName="number" pInputText>
              <label for="number">Number</label>
            </span>
          </div>
          <div class="field col-6">
            <span class="p-float-label">
              <p-dropdown [options]="topics" formControlName="selectedTopic" optionLabel="topic" optionValue="code"></p-dropdown>
              <label for="topic">Topic</label>
            </span>
          </div>
        </div>

          <div class="field col-12">
            <span class="p-float-label">
              <textarea inputId="textarea" rows="8" style="resize: none;" cols="5000" formControlName="text_question" pInputTextarea></textarea>
              <label for="textarea">Text Question</label>
            </span>
          </div>

          <div class="field col-12">
            <span class="p-float-label">
              <input id="objetive" type="text" formControlName="objective" pInputText>
              <label for="objective">Objective</label>
            </span>
          </div>

          <div class="field col-12">

          <p-table [value]="answers.controls">
            <ng-template pTemplate="header">
                <tr>
                    <th>Option</th>
                    <th>Answer</th>
                    <th>Valid</th>
                    <th>Add/Remove</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-rowData let-rowIndex="rowIndex"  let-last >
              <ng-container formArrayName="answers">
                <tr [formGroupName]="rowIndex">
                    <td>
                      <input id="option" maxlength="1" size="2" type="text" formControlName="option"  pInputText>
                    </td>
                    <td>
                      <textarea class="form-control form-control-sm" inputId="textarea" rows="2" style="resize: none;" cols="50" formControlName="description" pInputTextarea></textarea>

                      </td>
                      <td>
                        <p-toggleButton   class="form-control form-control-sm"
                        formControlName="valid" id="valid"
                        onLabel="true" offLabel="false"></p-toggleButton>

                      </td>
                      <td>

                        <button pButton pRipple type="button"
                                     icon="pi pi-plus"
                                     class="p-button-rounded p-button-text"
                                     (click)="addAnswerClick()"></button>
                        <button pButton pRipple type="button"
                                     icon="pi pi-trash"
                                     class="p-button-rounded p-button-text p-button-danger"
                                     (click)="deleteAnswerClick(rowIndex)"></button>



                    </td>
                </tr>
              </ng-container>

          </ng-template>
        </p-table>
      </div>
      <div class="col-1">
        <p-button label="Submit"></p-button>
      </div>
  </form>
</p-panel>
